In [4]:
#Importing packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
#Read the data
dataset=pd.read_excel('C:/Users/aksha/Desktop/ai/datasets/stark_data.xlsx')
dataset.head()

  Character   Age Survived
0    Eddard  52.0       No
1      John  27.0      Yes
2      Arya  21.0      Yes
3      Bran  19.0      Yes
4      Robb   NaN       No

In [6]:
import seaborn as sb

In [7]:
dataset.shape

(6, 3)

In [9]:
X=dataset.iloc[:,:-1].values
Y=dataset.iloc[:,2].values
Y

array(['No', 'Yes', 'Yes', 'Yes', 'No', 'Yes'], dtype=object)

In [6]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
labelencoder_Y=LabelEncoder()
Y=labelencoder_Y.fit_transform(Y)
Y

array([0, 1, 1, 1, 0, 1])

In [7]:
Y=Y.reshape(1,-1)

In [10]:
onehotencoder=OneHotEncoder(categorical_features=[2])
Y=onehotencoder.fit_transform(Y).toarray()
Y

C:\Users\aksha\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\aksha\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

array([[1., 1., 0., 1., 0., 1.]])